In [22]:
import pandas as pd
uri = '../output_csv_route_specific_2012.csv'

def make_dummy_data(df, yr, factor):
    if factor != 1:
        factor = 1 + (factor /10) 
    print(factor)
    df_y = df.copy()
    df_y.year = yr
    df_y.mean_sog = df_y.mean_sog * factor
    df_y.total_co2_million_tonnes = df_y.total_co2_million_tonnes * factor
    return df_y


df = pd.read_csv(uri, sep='\t')

df_out = pd.concat(
        make_dummy_data(df, yr, idx+1)
        for idx, yr
        in enumerate([2012, 2013, 2014, 2015, 2016]))

df_out.to_csv('../output_csv_route_specific_dummy.csv', '\t')

1
1.2
1.3
1.4
1.5

In [2]:
bad_uri = '../output_csv_route_specific_dummy_wrong.csv'
good_uri = '../output_csv_route_specific_dummy.csv'

df_bad = pd.read_csv(bad_uri, sep='\t')
df_good = pd.read_csv(good_uri, sep='\t')

In [3]:
df_bad

,Unnamed: 0,type_bin,size_bin,wpi_country_from,wpi_country_to,GroupCount,mean_sog,mean_voyage_time,total_co2_million_tonnes,domestic_fl,trade_type,sids_fl,ldc_fl,year
0,0,1,5,Australia','China',1485,11.955601,14.960774,2.670314,0,1,1,1,2012
1,1,4,4,'United States of America','United States of America',3875,14.842011,2.525333,2.184476,1,4,0,0,2012
2,2,4,5,'United States of America','United States of America',1925,14.598026,3.364978,1.836058,1,3,0,0,2012
3,3,1,5,'Brazil','Singapore',341,11.726765,36.402126,1.585102,0,4,1,0,2012
4,4,1,3,'China','China',8155,10.457792,3.195902,1.426785,1,4,0,0,2012
5,5,1,5,'Australia','Australia',920,8.419100,14.642074,1.374831,1,2,0,0,2012
6,6,4,5,'China','United States of America',291,17.805895,13.507159,1.341287,0,3,0,1,2012
7,7,1,5,'China','Australia',1332,12.113688,12.942255,1.271289,0,2,0,1,2012
8,8,4,4,'Australia','Australia',1908,14.701250,3.330189,1.224626,1,2,1,0,2012
9,9,4,4,'China','China',3693,13.852303,2.102119,1.183095,1,3,1,0,2012
10,10,4,4,'China','Panama',207,17.714776,20.840580,1.126776,0,2,1,1,2012
11,11,1,6,'Brazil','China',161,11.946818,45.169513,1.100061,0,2,0,1,2012
12,12,4,4,'Panama','United States of America',738,17.183110,5.733514,1.061761,0,1,1,1,2012
13,13,1,4,'Brazil','Singapore',345,12.066801,33.302899,1.036724,0,4,1,1,2012
14,14,4,5,'China','China',2998,13.558068,2.082736,1.029777,1,2,1,0,2012
15,15,4,4,'United States of America','Panama',613,16.941768,6.260808,0.954484,0,1,1,0,2012
16,16,4,4,'Panama','Panama',992,6.960469,3.812584,0.897208,1,2,1,0,2012
17,17,1,4,'Australia','Japan',596,12.021080,17.557956,0.877616,0,4,1,0,2012
18,18,1,4,'China','China',4041,10.338875,3.381094,0.876470,1,2,1,1,2012
19,19,4,4,'United States of America','Japan',300,17.374939,11.864306,0.875273,0,1,1,0,2012
20,20,4,4,'Panama','China',165,17.379678,23.472475,0.871717,0,4,0,0,2012
21,21,1,4,'Australia','China',623,12.216435,16.004615,0.856806,0,1,0,0,2012
22,22,1,4,'Australia','Australia',1705,8.732624,6.690127,0.854124,1,2,0,1,2012
23,23,4,6,'China','United States of America',153,18.093089,13.583333,0.831846,0,2,1,1,2012
24,24,4,5,'United States of America','China',199,16.545532,17.809255,0.822312,0,4,1,0,2012
25,25,4,2,'China','China',5513,12.484593,1.918475,0.793980,1,1,1,0,2012
26,26,4,6,'China','China',1879,14.308943,1.734278,0.791243,1,2,1,0,2012
27,27,4,6,'United States of America','China',140,17.308778,16.851488,0.772388,0,3,1,1,2012
28,28,1,6,'Australia','Australia',299,8.790591,18.421544,0.767524,1,3,1,0,2012
29,29,1,5,'Singapore','Brazil',375,12.315137,31.757222,0.765480,0,4,0,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145535,29083,1,1,'Kenya','Pakistan',1,2.431259,0.375000,0.000002,0,2,0,0,2016
145536,29084,1,2,'Western Sahara','Western Sahara',1,0.600000,0.333333,0.000002,1,1,0,1,2016
145537,29085,1,2,'Panama','Liberia',1,12.579050,78.291667,0.000002,0,4,0,0,2016
145538,29086,1,2,'Djibouti','Peru',1,0.362678,0.291667,0.000002,0,3,0,1,2016
145539,29087,1,2,'Peru','India',1,0.362678,0.333333,0.000002,0,3,1,0,2016
145540,29088,1,2,'Peru','Sudan',1,0.362678,0.291667,0.000002,0,2,0,1,2016
145541,29089,1,2,'Papua New Guinea','Russia',1,12.044044,46.916667,0.000002,0,3,0,1,2016
145542,29090,1,2,'Ivory Coast','Mexico',1,0.295347,0.333333,0.000002,0,4,0,0,2016
145543,29091,1,2,'El Salvador','El Salvador',1,0.507409,0.333333,0.000002,1,4,0,1,2016
145544,29092,1,1,'Russia','Kenya',1,2.412884,0.333333,0.000002,0,4,0,1,2016
145545,29093,1,1,'Paraguay','Kenya',1,3.103346,0.333333,0.000002,0,3,1,1,2016
145546,29094,1,1,'India','Republic of Congo',1,2.403521,0.583333,0.000002,0,3,1,0,2016
145547,29095,1,1,'Nigeria','Iran',1,3.024121,0.291667,0.000002,0,4,1,1,2016
145548,29096,1,1,'Venezuela','United Arab Emirates',1,2.625071,0.333333,0.000002,0,1,0,1,2016
145549,29097,1,1,'Indonesia','Iran',1,4.269606,0.291667,0.000002,0,4,1,1,2016
145550,29098,1,1,'China','Uruguay',1,5.323836,1.416667,0.000002,0,2,1,1,2016
145551,29099,1,2,'Egypt','Peru',1,0.362678,0.291667,0.000002,0,4,1,1,2016
145552,29100,1,2,'Malta','Nigeria',1,12.160317,15.125000,0.000002,0,2,0,1,2016
145553,29101,1,2,'Sweden','Algeria',1,14.111995,12.125000,0.000002,0,2,1,1,2016
145554,29102,1,2,'Gambia','Greece',1,0.232668,0.291667,0.000002,0,2,1,1,2016
145555,29103,1,2,'India','Peru',1,0.362678,0.291667,0.000002,0,2,1,0,2016
145556,29104,1,2,'Gibraltar','Benin',1,13.394104,9.750000,0.000002,0,2,0,0,2016
145557,29105,1,2,'Gabon','Argentina',1,12.540822,15.625000,0.000002,0,1,1,1,2016
145558,29106,1,2,'United Republic of Tanzania','Comoros',1,10.516010,1.541667,0.000002,0,3,1,1,2016
145559,29107,1,1,'Venezuela','Republic of Congo',1,2.432706,0.291667,0.000001,0,1,0,0,2016
145560,29108,1,1,'Venezuela','Philippines',1,2.920187,0.291667,0.000001,0,2,0,1,2016
145561,29109,1,1,'Argentina','Kenya',1,2.478246,0.291667,0.000001,0,4,1,1,2016
145562,29110,1,2,'Turkey','China',1,0.200000,3.625000,0.000000,0,3,0,1,2016
145563,29111,1,5,'Algeria','Malta',1,6.721475,NaN,0.000000,0,1,1,0,2016
145564,29112,4,3,'Ghana','Panama',1,0.393746,NaN,0.000000,0,2,0,0,2016

In [4]:
df_good

,Unnamed: 0,type_bin,size_bin,wpi_country_from,wpi_country_to,GroupCount,mean_sog,mean_voyage_time,total_co2_million_tonnes,domestic_fl,trade_type,sids_fl,ldc_fl,year
0,0,1,5,Australia','China',1485,11.755601,14.960774,2.670314,0,1,1,1,2012
1,1,4,4,'United States of America','United States of America',3875,14.642011,2.525333,2.184476,1,4,0,0,2012
2,2,4,5,'United States of America','United States of America',1925,14.398026,3.364978,1.836058,1,3,0,0,2012
3,3,1,5,'Brazil','Singapore',341,11.526765,36.402126,1.585102,0,4,1,0,2012
4,4,1,3,'China','China',8155,10.257792,3.195902,1.426785,1,4,0,0,2012
5,5,1,5,'Australia','Australia',920,8.219100,14.642074,1.374831,1,2,0,0,2012
6,6,4,5,'China','United States of America',291,17.605895,13.507159,1.341287,0,3,0,1,2012
7,7,1,5,'China','Australia',1332,11.913688,12.942255,1.271289,0,2,0,1,2012
8,8,4,4,'Australia','Australia',1908,14.501250,3.330189,1.224626,1,2,1,0,2012
9,9,4,4,'China','China',3693,13.652303,2.102119,1.183095,1,3,1,0,2012
10,10,4,4,'China','Panama',207,17.514776,20.840580,1.126776,0,2,1,1,2012
11,11,1,6,'Brazil','China',161,11.746818,45.169513,1.100061,0,2,0,1,2012
12,12,4,4,'Panama','United States of America',738,16.983110,5.733514,1.061761,0,1,1,1,2012
13,13,1,4,'Brazil','Singapore',345,11.866801,33.302899,1.036724,0,4,1,1,2012
14,14,4,5,'China','China',2998,13.358068,2.082736,1.029777,1,2,1,0,2012
15,15,4,4,'United States of America','Panama',613,16.741768,6.260808,0.954484,0,1,1,0,2012
16,16,4,4,'Panama','Panama',992,6.760469,3.812584,0.897208,1,2,1,0,2012
17,17,1,4,'Australia','Japan',596,11.821080,17.557956,0.877616,0,4,1,0,2012
18,18,1,4,'China','China',4041,10.138875,3.381094,0.876470,1,2,1,1,2012
19,19,4,4,'United States of America','Japan',300,17.174939,11.864306,0.875273,0,1,1,0,2012
20,20,4,4,'Panama','China',165,17.179678,23.472475,0.871717,0,4,0,0,2012
21,21,1,4,'Australia','China',623,12.016435,16.004615,0.856806,0,1,0,0,2012
22,22,1,4,'Australia','Australia',1705,8.532624,6.690127,0.854124,1,2,0,1,2012
23,23,4,6,'China','United States of America',153,17.893089,13.583333,0.831846,0,2,1,1,2012
24,24,4,5,'United States of America','China',199,16.345532,17.809255,0.822312,0,4,1,0,2012
25,25,4,2,'China','China',5513,12.284593,1.918475,0.793980,1,1,1,0,2012
26,26,4,6,'China','China',1879,14.108943,1.734278,0.791243,1,2,1,0,2012
27,27,4,6,'United States of America','China',140,17.108778,16.851488,0.772388,0,3,1,1,2012
28,28,1,6,'Australia','Australia',299,8.590591,18.421544,0.767524,1,3,1,0,2012
29,29,1,5,'Singapore','Brazil',375,12.115137,31.757222,0.765480,0,4,0,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465778,29083,1,1,'Kenya','Pakistan',1,3.031259,0.375000,0.000002,0,2,0,0,2016
465779,29084,1,2,'Western Sahara','Western Sahara',1,1.200000,0.333333,0.000002,1,1,0,1,2016
465780,29085,1,2,'Panama','Liberia',1,13.179050,78.291667,0.000002,0,4,0,0,2016
465781,29086,1,2,'Djibouti','Peru',1,0.962678,0.291667,0.000002,0,3,0,1,2016
465782,29087,1,2,'Peru','India',1,0.962678,0.333333,0.000002,0,3,1,0,2016
465783,29088,1,2,'Peru','Sudan',1,0.962678,0.291667,0.000002,0,2,0,1,2016
465784,29089,1,2,'Papua New Guinea','Russia',1,12.644044,46.916667,0.000002,0,3,0,1,2016
465785,29090,1,2,'Ivory Coast','Mexico',1,0.895347,0.333333,0.000002,0,4,0,0,2016
465786,29091,1,2,'El Salvador','El Salvador',1,1.107409,0.333333,0.000002,1,4,0,1,2016
465787,29092,1,1,'Russia','Kenya',1,3.012884,0.333333,0.000002,0,4,0,1,2016
465788,29093,1,1,'Paraguay','Kenya',1,3.703346,0.333333,0.000002,0,3,1,1,2016
465789,29094,1,1,'India','Republic of Congo',1,3.003521,0.583333,0.000002,0,3,1,0,2016
465790,29095,1,1,'Nigeria','Iran',1,3.624121,0.291667,0.000002,0,4,1,1,2016
465791,29096,1,1,'Venezuela','United Arab Emirates',1,3.225071,0.333333,0.000002,0,1,0,1,2016
465792,29097,1,1,'Indonesia','Iran',1,4.869606,0.291667,0.000002,0,4,1,1,2016
465793,29098,1,1,'China','Uruguay',1,5.923836,1.416667,0.000002,0,2,1,1,2016
465794,29099,1,2,'Egypt','Peru',1,0.962678,0.291667,0.000002,0,4,1,1,2016
465795,29100,1,2,'Malta','Nigeria',1,12.760317,15.125000,0.000002,0,2,0,1,2016
465796,29101,1,2,'Sweden','Algeria',1,14.711995,12.125000,0.000002,0,2,1,1,2016
465797,29102,1,2,'Gambia','Greece',1,0.832668,0.291667,0.000002,0,2,1,1,2016
465798,29103,1,2,'India','Peru',1,0.962678,0.291667,0.000002,0,2,1,0,2016
465799,29104,1,2,'Gibraltar','Benin',1,13.994104,9.750000,0.000002,0,2,0,0,2016
465800,29105,1,2,'Gabon','Argentina',1,13.140822,15.625000,0.000002,0,1,1,1,2016
465801,29106,1,2,'United Republic of Tanzania','Comoros',1,11.116010,1.541667,0.000002,0,3,1,1,2016
465802,29107,1,1,'Venezuela','Republic of Congo',1,3.032706,0.291667,0.000001,0,1,0,0,2016
465803,29108,1,1,'Venezuela','Philippines',1,3.520187,0.291667,0.000001,0,2,0,1,2016
465804,29109,1,1,'Argentina','Kenya',1,3.078246,0.291667,0.000001,0,4,1,1,2016
465805,29110,1,2,'Turkey','China',1,0.800000,3.625000,0.000000,0,3,0,1,2016
465806,29111,1,5,'Algeria','Malta',1,7.321475,NaN,0.000000,0,1,1,0,2016
465807,29112,4,3,'Ghana','Panama',1,0.993746,NaN,0.000000,0,2,0,0,2016

In [5]:
df_bad.describe()

,Unnamed: 0,type_bin,size_bin,GroupCount,mean_sog,mean_voyage_time,total_co2_million_tonnes,domestic_fl,trade_type,sids_fl,ldc_fl,year
count,145565.000000,145565.000000,145565.000000,145565.000000,145565.000000,145545.000000,145565.000000,145565.000000,145565.000000,145565.00000,145565.000000,145565.000000
mean,14556.000000,3.726514,3.610346,20.130388,11.335545,12.009032,0.011515,0.053550,2.508295,0.50462,0.502387,2014.000000
std,8404.228056,2.494853,1.800671,122.620826,3.290538,12.784040,0.051542,0.225128,1.121029,0.49998,0.499996,1.414218
min,0.000000,1.000000,1.000000,1.000000,0.200000,0.291667,0.000000,0.000000,1.000000,0.00000,0.000000,2012.000000
25%,7278.000000,1.000000,2.000000,1.000000,10.010265,3.208333,0.000493,0.000000,2.000000,0.00000,0.000000,2013.000000
50%,14556.000000,4.000000,3.000000,2.000000,11.716790,7.791667,0.001933,0.000000,3.000000,1.00000,1.000000,2014.000000
75%,21834.000000,7.000000,5.000000,9.000000,12.910076,16.458333,0.006594,0.000000,4.000000,1.00000,1.000000,2015.000000
max,29112.000000,7.000000,8.000000,8155.000000,22.945455,170.458333,2.670314,1.000000,4.000000,1.00000,1.000000,2016.000000

In [6]:
df_good.describe()

,Unnamed: 0,type_bin,size_bin,GroupCount,mean_sog,mean_voyage_time,total_co2_million_tonnes,domestic_fl,trade_type,sids_fl,ldc_fl,year
count,465808.00000,465808.000000,465808.000000,465808.000000,465808.000000,465744.000000,465808.000000,465808.000000,465808.000000,465808.000000,465808.000000,465808.000000
mean,14556.00000,3.726514,3.610346,20.130388,11.535545,12.009032,0.011515,0.053550,2.508295,0.504620,0.502387,2015.062500
std,8404.20821,2.494847,1.800666,122.620537,3.296603,12.784010,0.051542,0.225128,1.121027,0.499979,0.499995,1.197329
min,0.00000,1.000000,1.000000,1.000000,0.000000,0.291667,0.000000,0.000000,1.000000,0.000000,0.000000,2012.000000
25%,7278.00000,1.000000,2.000000,1.000000,10.205977,3.208333,0.000493,0.000000,2.000000,0.000000,0.000000,2014.750000
50%,14556.00000,4.000000,3.000000,2.000000,11.905543,7.791667,0.001933,0.000000,3.000000,1.000000,1.000000,2015.500000
75%,21834.00000,7.000000,5.000000,9.000000,13.127199,16.458333,0.006594,0.000000,4.000000,1.000000,1.000000,2016.000000
max,29112.00000,7.000000,8.000000,8155.000000,23.545455,170.458333,2.670314,1.000000,4.000000,1.000000,1.000000,2016.000000